
<section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Ton aventure FYP commence ici et maintenant ! Qu’attends-tu pour nous rejoindre ! </h2>
				<p> Bientôt disponible sur  <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">toutes les plateformes</a>
					<br>On sait déjà que tu vas adorer !</p>
				<ul class="list-inline">
					<li class="list-inline-item mb-4">
						<a href="https://www.instagram.com/find.your.party/" class="btn btn-rounded-icon" target="_blank">
							<i class="ti-instagram"></i>
							Instagram
						</a>
					</li>
					
					<li class="list-inline-item">
						<a href="https://www.facebook.com/FYourParty" class="btn btn-rounded-icon" target="_blank">
							<i class="ti-facebook"></i>
							Facebook
						</a>
					</li>
					<!-- <li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-microsoft-alt"></i>
							Windows
						</a>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</section>