<!--=====================================
=            Section comment            =
======================================-->

<section class="section cta-hire bg-gary">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Hire Title -->
				<h2>Venez participer au developpement de Fyp</h2>
				<!-- Job Description -->
				<p>FYP ce n’est pas que des compétences c’est aussi un esprit et une ambiance. Alors si tu veux nous rejoindre et participer à cette aventure c’est le moment !”.</p>
				<!-- Action Button -->
				<a href="contact.html" class="mt-3 btn btn-main-md">Rejoignez nos troupes</a>
			</div>
		</div>
	</div>
</section>

<!--====  End of Section comment  ====-->
