<!--============================
=            Footer            =
=============================-->
<footer>
  <!-- <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/log.png" alt="footer-logo" width="90"></a>
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Ffind.your.party%3Futm_medium%3Dcopy_link%26fbclid%3DIwAR1M0tmOM2A-DjI0FxnqUxh3G5JOsNEnXsDkKqDCIWIhnXEvRNM6k5rbzrY&h=AT0Z3GbkJyqd0A9e7j0KR97M6_gb0I38E6v4yWVckygamJ_NstJ6JVjIPsq_rkORAu6QZBBKc8DG_yMnwXyG3KMSUAM1NJRHLs-EEYf_d3veQotSuGm5Wl9DLl-rY5WoIA5WbA3-"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <h6>Sur Nous</h6>
            <ul>
              <li><a href="team.html">Nos troupes</a></li>
              <li><a href="FAQ.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <h6>Connexion</h6>
            <ul>
              <li><a href="sign-up.html">Singup</a></li>
              <li><a href="sign-in.html">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <h6>Travailler</h6>
            <ul>
              <li><a href="career.html">Carriere</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Investisseur</a></li>
              <li><a href="privacy.html">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <h6>Infos</h6>
            <ul>
              <li><a href="about.html">A propos</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Design &amp; Developper par <a href="https://lcdigitale.fr">lcdigitale</a></small class="text-secondary">
  </div>
</footer>